/*-----------------------------------------------------------------------------------*/
/*	FONT-FACE
/*-----------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Dosis';
    src: url('../src/fonts/Dosis-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/
html, body {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: Dosis, sans-serif;
    font-size: 13px;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1;
    margin: 0;
    padding: 0;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}

